$backgroundBtnLogin : #0400ff;
$colorBtnLogin : #F4F4F8;
$boxShadowLogin:0 55px 50px -17px rgba(0,0,0,.22);
$backgrounDashboard:#4264D0;
$backgroundAddItems : #F4F4F8;

%container {
    // width: 	960px;
    padding: 0 15px;
    margin: auto;
}


