@import "includeDashboardHeader";
@import "includeDashboaderMenu";

.chart {
  width: 900px;
  max-height: 900px;
  margin: 1rem 19rem 3rem;
}

@media (max-width: 968px) {
  .chart {
    margin: 9rem 5rem 3rem;
    width: 88%;
  }
}
